body {
    font-family: sans-serif;
}
input[type=text]{
    padding: 0.2rem 0.5rem;
    border-radius: 0.4rem;
    margin: 0.5rem 0;
}
.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 0.5rem 0;
}
.tag {
    padding: 0.2rem 0.5rem;
    border-radius: 0.4rem;
    border: 1px solid black;
}