header>div:first-child {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}
header>.wrapper:first-child>* {font-size: 32px}

/* монетки */
#cluster img {
    width: 100%;
}


/*  */
.cards {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}
.card {
    width: 140px;
}


.lists {
    display: grid;
    grid-gap: 1rem;
}

.list {
    display: grid;
    grid-template-columns: 60px 1fr auto auto;
    grid-gap: 1rem;
    align-items: center;
}