header>div:first-child {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}
header>.wrapper:first-child>* {font-size: 32px}

/* монетки */
#cluster img {
    width: 100%;
}

button {
    border: none;
    background-color: transparent;
    border: 1px solid gray;
    padding: 0.4rem;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    &:hover {
        background-color: lightcyan;
    }
    &>img {
        height: 32px;
        vertical-align:bottom;
    }
}
.viewing_active {
    background-color:bisque;
}

/*  */
.cards {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}
.card {
	position: relative;
    width: 140px;
}


.lists {
    display: grid;
    grid-gap: 1rem;
}

.list {
    display: grid;
    grid-template-columns: 60px 1fr auto auto;
    grid-gap: 1rem;
    align-items: center;
}

.have {
	top: 0;
	right: 0;
	position: absolute;
}